
.login-form {
    max-width: 300px;
  }
  .login-form-forgot {
    float: right;
  }
  .ant-col-rtl .login-form-forgot {
    float: left;
  }
  .login-form-button {
    width: 100%;
  }


  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh; 
    /* Isso faz com que o contêiner ocupe a altura total da viewport */
  }
  
  .login-form {
    max-width: 300px; /* Ou ajuste conforme necessário */
    width: 100%;
  }
  